# Ambientes virtuais Conda/Python
.env/
.venv/
venv/
utils/__pycache__/
__pycache__/
*.py[cod]
*.pyo

# Arquivos do VS Code
.vscode/

# Streamlit cache e logs
.streamlit/config.toml
.streamlit/credentials.toml
.streamlit/cache/
.streamlit/history/
.streamlit/logs/

# Arquivo de variáveis de ambiente
.env

# Dados temporários
*.db
*.sqlite
*.log

# Bases locais de vetores (se estiver usando Chroma, FAISS, etc)
vectorstore/
chroma_db/
index/

# Arquivos de sistema
.DS_Store
Thumbs.db
